:root {
  /* margin */
  --m-left: 400px;
  --m-top: 150px;
  /* font */
  --f: 'Roboto', sans-serif; /* fallback font 추가 */
}

body {
  font-family: var(--f);
}

.board-container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.title {
  width: 100%;
  color: rgb(80, 80, 80);
  padding: 20px 0;
  font-size: 24px;
  font-weight: 500;
}
