.Navbar {
  opacity: 0.5;
  width: auto;
  position: relative;
  background: linear-gradient(180deg, #E1BEE7 0%, #F8BBD0 50%, #ffffff 100%);
}

.Container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.Navlogo {
  font-family: var(--f);
  color: black;
  padding-bottom: 10px;
}

.Navbar .navbar-collapse {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
}
.ml-auto{
  margin-left: auto;
  align-items: center;
  margin-bottom: 1rem;
}
