.view-title,
.post-content {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 0.75rem;
  border-radius: 5px;
}

.view-title {
  font-size: 24px;
}

.post-content {
  min-height: 200px;
  font-size: 1rem;
  line-height: 1.5;
}

.titleInput,
.contentInput {
  font-size: 16px;
  border-radius: 0.25rem;
}

.deleteButton,
.reWriteButton {
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.deleteButton:hover,
.reWriteButton:hover {
  opacity: 0.9;
}

.deleteButton {
  background-color: #e74c3c;
  color: #fff;
  border: none;
}

.reWriteButton {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.deleteButton:hover,
.reWriteButton:hover {
  opacity: 0.9;
}
.likeButton {
  background-color: pink;
  border-color: pink;
  margin-right: 15px;
}
.likeButton:hover {
  background-color: rgb(207, 77, 99);
  border-color: rgb(207, 77, 99);
}
